# Python Basics
Python Fundamentals
variables

python coding

In [1]:
print("hello jhanvi")

hello jhanvi

In [2]:
print("hello Twisha")

hello Twisha

# Python variable

In [3]:
var1="python"
a=34
b=99
sum=a+b
print(var1)
print(a)
print(b)
print(sum)

python
34
99
133

In [4]:
var1="python"
a=31
b=99
sum=a+b
print(var1)
print(sum)

python
130

In [ ]:
a=67
b=99.9999
c=3.14j
d="navratri"
e=True
print(type (a))
print(type (b))
print(type (c))
print(type (d))
print(type (e))

# Variable

In [8]:
var1 = 40.5
var2 = 44

var3 = var1 + var2
var3

84.5

In [7]:
var6 = var1/var2
var6

0.9204545454545454

In [9]:
x,y,z = 13,14,15

z

15

In [10]:
del z

In [ ]:
a=("a","b","c")
print(type(a))

# Data types
numerical
int
float
complex

In [12]:
a=67
b=99.9999
c=3.14j
d= "Navratri"
e= True

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

In [ ]:
#how to take input from user

# ask the user to enter the value of x and store it in variable
x= int(input("Enter the value of x:"))

# ask the user to enter the value of y and store it in variable
y= int(input("Enter the value of y:"))

#perform any mathematical operation
z=x*y

#print the answer
z

# String

In [ ]:
str1="i like python programming "
str1

In [ ]:
str2 ="number one"
str2

In [ ]:
str3=str1+str2
str3

## Indexing

In [ ]:
name="I am Twisha"
print(name)
print(len(name))

In [ ]:
# positive indexing
name[0]

In [ ]:
# nagative indexing
name[-1]

In [ ]:
a=10
type(a)

In [ ]:
b=2.5;
type(b)

In [ ]:
c=True
type(c)

In [ ]:
a=b=c=10
print(a)

In [ ]:
print(b)

In [ ]:
print(c)

In [ ]:
id(a)

In [ ]:
id(b)

In [ ]:
id(c)

In [ ]:
d=10
id(d)

In [ ]:
x=100

In [ ]:
x=50
id(x)

In [ ]:
y=50
id(50)

In [ ]:
a=b=c=10
a=20

In [ ]:
a

In [ ]:
b

In [ ]:
c

In [ ]:
a

In [ ]:
str="aaa"
print(str)

In [ ]:
str1= "in"
str2="dia"
str=str1+str2
str

In [ ]:
type(str)

In [ ]:
str1='Neotech '
str2='Institute'

str3=str1+str2
str3

In [ ]:
str3[0]

In [ ]:
z='My name is Twisha'

In [ ]:
z

In [ ]:
z[0]

In [ ]:
z[-1]

In [ ]:
z[-2]

In [ ]:
z[0:1]

In [ ]:
z[0:2]

In [ ]:
z[0:6]

In [ ]:
z[0:7]

In [ ]:
z[7:15]

In [ ]:
z[10:16]

In [ ]:
z[11:17]

In [ ]:
z[11:]

In [ ]:
z[:11]

In [ ]:
z[-1:-3]

In [ ]:
str="my"
str

In [ ]:
str[0]

In [ ]:
str[-1]

In [ ]:
str[-1:-3]

In [ ]:
str[-3:-1]

In [ ]:
str3[-3:-1]

In [ ]:
str3

In [ ]:
#string formating
string1="{1} {0} {2}".format('Python','Programing','language')
print("print string in positional order")
print(string1)

In [ ]:
string1="{1} {0} {2}".format('Python','Programing','language')
print(string1)

In [ ]:
#list type
a=['a',1,2.5]
a

In [ ]:
type(a)

In [ ]:
my_list=[1,2,3,4,5]

In [ ]:
my_list

In [ ]:
type(my_list)

In [ ]:
type(my_list[0])

In [ ]:
type(a[1])

In [ ]:
type(a[2])

In [ ]:
type(a[0])

In [ ]:
x=['hi',1,2,3,4,5]

In [ ]:
x

In [ ]:
x[0]="hello"

In [ ]:
x=input("Enter the value")
y=input("Enter the value")
x1=int(x)
y1=int(y)
a=x1+y1
a

In [ ]:
a=(1,2,3,4,5)
b=(6,7,8,10)
type(a)

In [ ]:
a+b

In [ ]:
a*2

## Dictionary

In [15]:
emp={}

In [16]:
type(emp)

dict

In [17]:
emp['name']="twisha"
emp["age"]=20
emp["gender"]="female"

In [18]:
emp

{'name': 'twisha', 'age': 20, 'gender': 'female'}

In [19]:
emp['name']

'twisha'

In [20]:
emp['age']

20

In [21]:
emp.keys()

dict_keys(['name', 'age', 'gender'])

count=0
while (count<3):
    count=count+1
    print("hello greek")

In [ ]:
emp.values()

# Python loops

### While loop

In [ ]:
count=0
while(count<9):
    print("the cout is:",count)
    count=count+1
print("Good bye")

In [ ]:
count=0
while count<5:
    print(count,"is less than 5")
    count=count+1
else:
    print(count,"is eual to 5")

### For loop

In [ ]:
for letter in 'python':   # frist example
    print('current leter :' ,letter)
fruit=['banana', 'apple', 'mango']
for fruit in fruit:    #second example
    print('current fruit :',fruit)
print("good bye")

In [ ]:
for letter in 'python':   # frist example
    print('current leter :' ,letter)
fruit=['banana', 'apple', 'mango']
for fruit in fruit:    #second example
    print('current fruit :',fruit)
for i in range(10):
    print(i)
print("good bye")

In [1]:
for num in range (10,20):     #to iterate between 10 to 20
    for i in range(2,num):    #to iterate on the factors of the number
        if num%i == 0:        #to determine the first fector
            j=num/i           #ti calculate the second factor   
            print('%d equal %d = %d' % (num,i,j))
            break        #to move the next nymber,the#first for
    else:            #else part of the loop
        print(num, 'is a prime number')

10 equal 2 = 5
11 is a prime number
12 equal 2 = 6
13 is a prime number
14 equal 2 = 7
15 equal 3 = 5
16 equal 2 = 8
17 is a prime number
18 equal 2 = 9
19 is a prime number

In [ ]:
from math import pi
pi

## Area of circle

In [ ]:
r=4
pi*r*r

## Conditional statement

In [ ]:
#if statement

num=5
if num>0:
    print(num, 'is positive number')
else:
    print(num, 'is Negative number')

# Calculator

In [1]:
#create function for each operation

#this function add two number

def add(x,y):
    return x+y

#this function subtraction two number

def subtract(x,y):
    return x-y

#this function multiply two number

def multiply(x,y):
    return x*y

#this function divide two number

def  divide(x,y):
    return x/y

print("select operation")
print("1.Addition")
print("2.subtraction")
print("3.multiply")
print("4. divide")

choice = input("enter choice (1/2/3/4):")

num1 =int(input("enter the first number "))
num2 =int(input("enter the second number "))

if choice == '1':
    print(num1,'+',num2,'=', add(num1,num2))
elif choice == '2':
     print(num1,'+',num2, '=',subtract(num1,num2))
elif choice == '3':
    print(num1,'+',num2,'=', multiply(num1,num2))
elif choice == '4':
     print(num1,'+',num2, '=',divide(num1,num2))
else:
    print("invalid input")

select operation
1.Addition
2.subtraction
3.multiply
4. divide
enter choice (1/2/3/4):1
enter the first number 34
enter the second number 56
34 + 56 = 90